<div>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img class="posters" src="assets/img/drivep.jpg">
      </ng-template>  
    <ng-template carouselSlide>
        <img class="posters" src="assets/img/leonp.jpg">
      </ng-template>  
    <ng-template carouselSlide>
        <img class="posters" src="assets/img/fightclubep.jpg">
    </ng-template>  
    <ng-template carouselSlide>
      <img class="posters" src="assets/img/houseofgp.jpg">
    </ng-template> 
    <ng-template carouselSlide>
     <img class="posters" src="assets/img/oscans11p.jpg">
    </ng-template> 
    <ng-template carouselSlide>
        <img class="posters" src="assets/img/pandpp.jpg">
       </ng-template>
       <ng-template carouselSlide>
        <img class="posters" src="assets/img/pulp-fictionp.jpg">
      </ng-template>
      
    
        
  </owl-carousel-o>
 </div>

 <div></div>

 <div>
  <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
          <img class="posters" src="assets/img/drivep.jpg">
        </ng-template>  
      <ng-template carouselSlide>
          <img class="posters" src="assets/img/leonp.jpg">
        </ng-template>  
      <ng-template carouselSlide>
          <img class="posters" src="assets/img/fightclubep.jpg">
      </ng-template>  
      <ng-template carouselSlide>
        <img class="posters" src="assets/img/houseofgp.jpg">
      </ng-template> 
      <ng-template carouselSlide>
       <img class="posters" src="assets/img/oscans11p.jpg">
      </ng-template> 
      <ng-template carouselSlide>
          <img class="posters" src="assets/img/pandpp.jpg">
         </ng-template>
         <ng-template carouselSlide>
          <img class="posters" src="assets/img/pulp-fictionp.jpg">
        </ng-template>         
    </owl-carousel-o>
   </div>