<div class="navbar">
 <ul>
     <li>
        <a class="navbar-item">
            <img src="assets/img/MP_logo_35px.png">
          </a>
     </li>
     <li><a>Home</a></li>
     <li><a>Tickets</a></li>
     
     <button class="sbutton" type="submit">
        <i>
           <span class="material-icons-outlined">
               search
               </span>
       </i>
   </button>   
     <form class="search">
         <input type="text" name="Search...">
     </form>
     
 </ul>
</div>
<div class="test">
    <h1>hej</h1>
</div>
