<div class="navbar">
 <ul>
     <li>
        <span class="material-icons-outlined">
            local_activity
        </span>
     </li>
     <li><a>Home</a></li>
     <li><a>Tickets</a></li>
     
     <button class="sbutton" type="submit">
        <i>
           <span class="material-icons-outlined">
               search
           </span>
       </i>
   </button>   
     <form class="search">
         <input type="text" 
         placeholder="Search..."
         name="search">
     </form>
     
 </ul>
</div>
<div class="test">
</div>
