<div class="movie-container" *ngIf="mov">

  <div class="boxinabox">
    
      <img class="movie-poster" [src]="mov.imagePath">
    <div class="text">
      <h2 class="movie-name">{{ mov.name | uppercase}}</h2>
      <p class="desc">{{ mov.description }}</p>
      <p class="pgtext">{{mov.genre}}</p>
      <p class="pgtext">{{mov.productionDate}}</p>

      <div>
        <div>
          <button  class="weekday-buttons" role="button">Monday</button>
          <button class="weekday-buttons" role="button">Tuesday</button>
          <button class="weekday-buttons" role="button">Wednesday</button>
        </div> 
        <div>
          <button class="weekday-buttons" role="button">Thursday</button>
          <button class="weekday-buttons" role="button">Friday</button>
          <button class="weekday-buttons" role="button">Saturday</button>
          <button class="weekday-buttons" role="button">Sunday</button>
        </div>
    </div>

    </div>  

  </div>

</div>

