
.desc-comp{
 margin-right: auto;
 margin-left: auto;
 width: 850px;
 padding: 110px;
}

.desc{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke; 
}
.movie-poster{
    height: 700px;
    width: 500px;
    float: left;
    
}
.movie-name{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-weight: bold;
    font-size: 40px;
}
.movie-desc{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 20px;
}
.pgtext{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

.weekday-buttons{
    background-color: #333333; 
    color: whitesmoke;
    padding: 11px 28px;
    text-align: center;
    font-size: 14px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: #171717;
    border-style: solid;
    
}
.weekday-buttons:hover{
    background-color: #5F2383;
}
.movie-container{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 1800px;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text{
    float:right;
    padding: 30px;
}
.desc{
    width: 1000px;
    font-size: 25px;
}
