<div class="desc-comp">
   <a *ngFor="let movied of description">
    <div>
       <div class="movie-poster-component">
         <img class="movie-poster"[src]="movied.imagePath">
       </div>

       <div class="desc">
         <h1 class="movie-image"> {{movied.name}} </h1>
         <p class="movie-desc">{{movied.description}}</p>
         <p class="movie-desc-text">{{movied.genre}}</p>
         <p class="movie-desc-text">{{movied.productionDate}}</p>

         <div>
           <div>
            <button href="#" class="weekday-buttons" role="button">Monday</button>
            <button class="weekday-buttons" role="button">Tuesday</button>
            <button class="weekday-buttons" role="button">Wednesday</button>
           </div> 
           <div>
            <button class="weekday-buttons" role="button">Thursday</button>
            <button class="weekday-buttons" role="button">Friday</button>
            <button class="weekday-buttons" role="button">Saturday</button>
            <button class="weekday-buttons" role="button">Sunday</button>
           </div>
          </div>
       </div>
    </div>   
   </a>
      
</div>

