
.desc-comp{
 margin-right: auto;
 margin-left: auto;
 width: 850px;
 padding: 110px;

}

.desc{
    float: right;
   padding: 40px;
   margin-top: -58px;
      
}
.movie-poster-component{
    float: left;
    padding-right: 10px;
   
}
.movie-poster{
    height: 500px;
    width: 300px;
    
}
.movie-name{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-weight: bold;
}
.movie-desc{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 20px;
}
.movie-desc-text{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke; 
}
.weekday-buttons{
    background-color: #333333; 
    color: whitesmoke;
    padding: 11px 28px;
    text-align: center;
    font-size: 12px;
    border: none;
    font-family: 'Roboto', sans-serif;
}
.weekday-buttons:hover{
    background-color: #5F2383;
}