
    <main>
        <section class="onecolumn">
        
        <h3><a href="">Shopping Cart</a> &#x276F; Your Order &#x276F;</h3>
        <!-- CODE TO PLACE -->
        
        <h2>ORDER CHECKOUT</h2>
         <h4>Your shipping information</h4>
          <table id="checkoutSummary">
          <tbody>
            <tr><th>Order Number</th><td># 01</td></tr>
          <tr><th>Client Name:</th><td>Elma&Basma AB</td></tr>
          <tr><th>Email:</th><td>elma&basma@gmail.com</td></tr>
          </tbody>
        </table>
          
          <h4>Items Ordered</h4>
        
          <table id="checkoutItems">
            <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            </tr>
            
            <tr><td><h3>Seat</h3></td>
              <td>1</td>
              <td>135 kr</td></tr>
            
            <tr id="finalSum"><td colspan="2" style="border:0; text-align:right;">SubTotal</td>
              <td>135 kr</td></tr>
            
                <tr><td colspan="2" style="border:0; text-align:right;">Shipping</td>
              <td>0 kr</td></tr>
            
                    <tr><td colspan="2" style="border:0; text-align:right;">Moms</td>
              <td>5 kr</td></tr>
            
             <tr><td colspan="2" style="border:0; text-align:right;">Total</td>
              <td style="background: #eee;">140 kr</td></tr>
            
            
          </table>
          
        </section>