<app-navbar></app-navbar>
<!--app-header></app-header-->

<!--div class="space"></div-->
<app-movies (featureSelected)="onNavigate($event)" ></app-movies>   
<app-date-page *ngIf="loadedFeature == 'date-page'"></app-date-page>
<div>    
     
<!--app-moviesliders *ngIf="loadedFeature === 'date-page'" (featureSelected)="onNavigate($event)"></app-moviesliders-->
</div>

<div>
<!--footer>
  <ul>
    <li>
      <a class="facebook" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <li>
      <a class="twitter" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="material-icons-outlined">
          favorite
          </span>
      </a>
    </li>
    <li>
      <a class="twitter" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
      </a>
    </li>
  </ul>
</footer-->
</div>