footer{
    text-align: center;
    padding: 25px;
    background-color: #171717;
    color: white;

}
.space{
    height: 20px;
}
.hr1{
    border: 0;
    height: 0;
    width: 1600px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}