<app-navbar></app-navbar>
<!--app-header></app-header-->

<!--div class="space"></div-->
<app-date-page></app-date-page>
<div>       
<!--app-moviesliders></app-moviesliders-->
</div>

<div>
<footer>
  <ul>
    <li>
      <a class="facebook" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <li>
      <a class="twitter" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="material-icons-outlined">
          favorite
          </span>
      </a>
    </li>
    <li>
      <a class="twitter" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
      </a>
    </li>
  </ul>
</footer>
</div>