<div class="movies-box">
    <a routerLink="date-page" href="#" *ngIf="">
        <img class="poster" src="assets/img/drivep.jpg">
    </a>
    <a routerLink="date-page" href="#">
        <img class="poster" src="assets/img/fightclubep.jpg">
    </a>
    <a routerLink="date-page" href="#">
        <img class="poster" src="assets/img/leonp.jpg">
    </a>
    <a routerLink="date-page" href="#">
        <img class="poster" src="assets/img/pulp-fictionp.jpg">
    </a>
    <a routerLink="date-page" href="#">
        <img class="poster" src="assets/img/pandpp.jpg">
    </a>
</div>
