<div class="screen"></div>
<div class="theatre">
    <div class="cinema-seats left">
      <div class="cinema-row row-1">
        <h1 class="rows"></h1>
        <div class="columns"></div>
        <div class="columns"></div>
        <div class="columns"></div>
        <div class="columns"></div>
        <div class="columns"></div>
        <div class="columns"></div>
        <div class="columns"></div>
      </div>
      <div class="cinema-row row-1">
        <h1 class="rows"></h1>
        <div class="seat A1"></div>
        <div class="seat B1"></div>
        <div class="seat C1"></div>
        <div class="seat D1"></div>
        <div class="seat E1"></div>
        <div class="seat F1"></div>
        <div class="seat G1"></div>
      </div>

      <div class="cinema-row row-2">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-3">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-4">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-5">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-6">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-7">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
    </div>

    <div class="cinema-seats right">
      <div class="cinema-row row-1">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-2">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-3">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-4">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-5">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-6">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="cinema-row row-7">
        <h1 class="rows"></h1>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="booked"></h1>
    <h1 class="seatsbooked"></h1>
  </div>
  <a routerLink="cart">Hello</a>
